@font-face {
  font-family: "Neosans";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/NeoSansPro.otf") format("opentype");
}
@font-face {
  font-family: "Neosans";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/NeoSansProMedium.otf") format("opentype");
}
@font-face {
  font-family: "Neosans";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/NeoSansProBold.ttf") format("truetype");
}
// Global
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Neosans";
  margin: 0px;
}
